.env
venv/
.idea
.vscode

**/__pycache__/

backend/db.sqlite3
backend/logs.log
backend/staticfiles/

service_account.json

**/staticfiles/
**/protected/
**/mediafiles/
/backend/mediafiles/**
/backend/protected/**
root@backend.vector-educate.com
